server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:file:./data/votacao;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
  h2:
    console:
      enabled: true

logging:
  level:
    root: INFO
    com.example.votacao: INFO

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui
